*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: ProductSans;
}
@font-face{
    font-family: ProductSans;
    src: url(../../../assets/fonts/ProductSansRegular.ttf);
}
body{
    height: 100vh;
    background-image: url(../../../assets/images/MountHimalayas.jpg);
    background-size: 100%;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Main Container */
#weather_information_container{
    width: 50vw;
    height: 80vh;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.3);
}
/* Search bar */
#search_container{
    height: 10vh;
}
#city_name_input_box{
    outline: none;
    border: none;
    font-size: 1.5vw;
    color: white;
    width: 20vw;
    height: 5vh;
    border-radius: 20px;
    background-color: black;
    position: relative;
    left: 15vw;
    top: 2vh;
    padding: 2px 0px 2px 20px;
}
#city_name_input_box::placeholder{
    color: white;
    font-size: 1.5vw;
}
#search_icon_container{
    color: gray;
    font-size: 1.5vw;
    position: relative;
    top:2.3vh;
    left: 12vw;
    cursor: pointer;
}
#search_icon_container:hover{
    color: white;
}
#city_name_icon_container{
    width: 48vw;
    height: 10vh;
    margin-left: 20px;
}
#city_name{
    font-size: 3vw;
    color: white;
    position: relative;
    top: 0.5vw;
    padding-left: 60px;
}
#location_icon_container{
    color: red;
    font-size: 3vw;
    position: relative;
    bottom: 3vw;
}
#image_temperature_container{
    width: 100%;
    height: 30vh;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#weather_status_name{
    margin-left: -17vw;
}
#weather_status_image_container{
    width: 30%;
    height: 100%;
}
#weather_image_element{
    width: 100%;
    height: 100%;
    
}
#temperature_value{
    font-size: 4vw;
    position: relative;
    top: 1.25vw;
    left: 0.1vw;
}
#degree_celcius_container{
    display: none;
}
#humidity_windstatus_container{
    width: 90%;
    margin-left: 5%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#humidity_information_container,#wind_information_container{
    width: 40%;
    height: 25vh;
    border-radius: 20px;
    color: white;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.humid_wind_icons{
    font-size: 2.5vw;
}